<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        BOOKCASES
      </mat-panel-title>
      <mat-panel-description>
        Find below the list of bookcases
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  <app-bookcases-list>

  </app-bookcases-list>
  <app-loose-books-list>

  </app-loose-books-list>
</mat-accordion>
