<div mat-dialog-actions>
  <form [formGroup]="shelveForm" (ngSubmit)="onSubmit()" ngDefaultControl>
    <mat-card-header>
      <mat-card-title><h3>Edit shelve</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Shelve name</mat-label>
        <label>
          <input matInput formControlName="shelveName" placeholder="Name"
                 [ngClass]="{ 'is-invalid': f.shelveName.errors }">
        </label>
        <mat-error *ngIf="f.shelveName.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
    </mat-card-content>
    <button color="warn" type="button" mat-button [mat-dialog-close]>
      CANCEL
    </button>
    <button color="primary" type="submit" mat-button
            [disabled]="shelveForm.invalid" [mat-dialog-close]>UPDATE</button>
  </form>
</div>
