<mat-accordion [multi]="true">
<mat-expansion-panel *ngFor="let tempBookcase of bookcases"
                     xmlns="http://www.w3.org/1999/html" md-colors="{background: 'pink-500'}">
  <mat-expansion-panel-header (click)="listShelves(tempBookcase.id)">
    <mat-panel-title>
      {{ tempBookcase.name }}
    </mat-panel-title>
    <mat-panel-description>
      This is bookcase with id {{ tempBookcase.id }}
    </mat-panel-description>
    <button color="warn" type="button" mat-button (click)="onDeleteBookCase(tempBookcase.id)">DELETE
    </button>
    <button color="warn" type="button" mat-button (click)="openDialogEditBookCase(tempBookcase)">EDIT
    </button>
  </mat-expansion-panel-header>
  <p>Shelves:</p>

  <mat-expansion-panel *ngFor="let tempShelves of shelves"
                       xmlns="http://www.w3.org/1999/html">
    <mat-expansion-panel-header (click)="listBooks(tempBookcase.id, tempShelves.id)">
      <mat-panel-title>
        {{ tempShelves.name }}
      </mat-panel-title>
      <mat-panel-description>
        This is shelve with id {{ tempShelves.id }}
      </mat-panel-description>
      <button color="warn" type="button" mat-button (click)="onDeleteShelve(tempBookcase.id, tempShelves.id)">DELETE
      </button>
      <button color="warn" type="button" mat-button (click)="openDialogEditShelve(tempShelves)">EDIT
      </button>
    </mat-expansion-panel-header>
    <p>Books:</p>

    <mat-expansion-panel *ngFor="let tempBook of books" xmlns="http://www.w3.org/1999/html">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ tempBook.title }} by {{ tempBook.author}}
        </mat-panel-title>
        <mat-panel-description>
          This is book with id {{ tempBook.id }}
        </mat-panel-description>
        <button color="warn" type="button" mat-button (click)="onDeleteBook(tempBookcase.id, tempShelves.id, tempBook.id)">DELETE
        </button>
        <button color="warn" type="button" mat-button (click)="openDialogEditBook(tempBook)">EDIT
        </button>
      </mat-expansion-panel-header>
      <p>Description: {{ tempBook.description }}</p>
    </mat-expansion-panel>
    <form>
      Title: <input matInput [(ngModel)]="bookTitle" [ngModelOptions]="{standalone: true}" placeholder="Book name"><br>
      Author: <input matInput [(ngModel)]="bookAuthor" [ngModelOptions]="{standalone: true}" placeholder="Author"><br>
      Description: <textarea matInput [(ngModel)]="bookDescription" [ngModelOptions]="{standalone: true}" placeholder="Description"></textarea><br>
      <button color="primary" type="submit" (click)="onSubmitBook(tempBookcase.id, tempShelves.id)" >CREATE NEW BOOK</button>
    </form>
  </mat-expansion-panel>

  <form>
    <button color="primary" type="submit" (click)="onSubmitShelve(tempBookcase.id)" >CREATE NEW SHELVE: </button>
    <input matInput [(ngModel)]="shelveName" [ngModelOptions]="{standalone: true}" placeholder="Shelve name">
  </form>
</mat-expansion-panel>

<form >
  <button color="primary" type="submit" (click)="onSubmitBookCase()" >CREATE NEW BOOKCASE: </button>
  <input matInput [(ngModel)]="bookCaseName" [ngModelOptions]="{standalone: true}" placeholder="Bookcase name">
</form>
</mat-accordion>
