<div mat-dialog-actions>
  <form [formGroup]="bookcaseForm" (ngSubmit)="onSubmit()">
    <mat-card-header>
      <mat-card-title><h3>Edit bookcase</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Bookcase name</mat-label>
        <label>
          <input matInput formControlName="bookcaseName" placeholder="Name"
                 [ngClass]="{ 'is-invalid': f.bookcaseName.errors }">
        </label>
        <mat-error *ngIf="f.bookcaseName.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <button color="warn" type="button" mat-button [mat-dialog-close]>
      CANCEL
    </button>
    <button color="primary" type="submit" mat-button
            [disabled]="bookcaseForm.invalid" [mat-dialog-close]>UPDATE</button>
  </form>
</div>
