<div mat-dialog-actions>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" ngDefaultControl>
    <mat-card-header>
      <mat-card-title><h3>Edit book</h3></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Book title</mat-label>
        <label>
          <input matInput formControlName="bookTitle" placeholder="Title"
                 [ngClass]="{ 'is-invalid': f.bookTitle.errors }">
        </label>
        <mat-error *ngIf="f.bookTitle.errors?.required">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Book author</mat-label>
        <label>
          <input matInput formControlName="bookAuthor" placeholder="Author"
                 [ngClass]="{ 'is-invalid': f.bookAuthor.errors }">
        </label>
        <mat-error *ngIf="f.bookAuthor.errors?.required">
          Author is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Book description</mat-label>
        <label>
          <input matInput formControlName="bookDesc" placeholder="Description"
                 [ngClass]="{ 'is-invalid': f.bookDesc.errors }">
        </label>
        <mat-error *ngIf="f.bookDesc.errors?.required">
          Description is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <button color="warn" type="button" mat-button [mat-dialog-close]>
      CANCEL
    </button>
    <button color="primary" type="submit" mat-button
            [disabled]="bookForm.invalid" [mat-dialog-close]>UPDATE</button>
  </form>
</div>
