<mat-accordion [multi]="true">
<mat-expansion-panel *ngFor="let tempBook of books"
  xmlns="http://www.w3.org/1999/html" md-colors="{background: 'pink-500'}">
  <mat-expansion-panel-header (click)="listBooks()">
    <mat-panel-title>
      {{ tempBook.title }} by {{ tempBook.author}}
    </mat-panel-title>
    <mat-panel-description>
      This is book with id {{ tempBook.id }}
    </mat-panel-description>
    <button color="warn" type="button" mat-button (click)="onDeleteBook(tempBook.id)">DELETE
    </button>
    <button color="warn" type="button" mat-button (click)="openDialogEditBook(tempBook)">EDIT
    </button>
  </mat-expansion-panel-header>
</mat-expansion-panel>
</mat-accordion>
