<h1 mat-dialog-title>Are you sure that you want to delete this {{data}} ?</h1>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
  <button mat-button [mat-dialog-close]="false">No</button>
</div>
